.container {
    margin-top: 50px;
    background-color: rgb(98, 110, 110);
    border-radius: 20px;
    padding: 20px;
    height: 80%;
    width: 50%;
}

h1 {
    text-align: center;
}

button {
    background-color: #a315e0;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}